<h1 class="text-center blue-heading pt-3">Commitments</h1>
<hr/>
<div class='more-cards'>
    <div class="container my-3 text-center">
        <div class="single-card">
        <h4 class="card-header blue-heading ">EQUAL OPPORTUNITIES & DIVERSITY</h4>
            <img src='https://images.unsplash.com/photo-1506869640319-fe1a24fd76dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80' style='width: 100%; height: 190px'>
            <div class='p-3'>
                <p>Committed to equal opportunities for all staff and applicants. Ensuring all our staff work in an environment which allows them to fulfill their potential without fear of discrimination, harassment or victimisation.</p>
                <%= link_to "Equal Opportunities Policy pdf", asset_path("pdfs/equal_opportunites.pdf"), target: "_blank" %>
            </div>
        </div>
    </div>

    <div class="container my-3 text-center">
        <div class="single-card">
        <h4 class="card-header blue-heading ">HEALTH & SAFETY</h4>
            <img src='https://images.unsplash.com/photo-1552879890-3a06dd3a06c2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1122&q=80' style='width: 100%; height: 190px'>
            <div class='p-3'>
                <p>Putting the safety of our staff, sub-contractors and clients first is a priority. Read more about how we implement health and safety in all of our business activities in our policy.</p>
                <%= link_to "Health and Safety pdf", asset_path("pdfs/health_safety.pdf"), target: "_blank" %>
            </div>
        </div>
    </div>

    <div class="container my-3 text-center">
        <div class="single-card">
        <h4 class="card-header blue-heading ">QUALITY MANAGEMENT</h4>
            <img src='https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80' style='width: 100%; height: 190px'>
            <div class='p-3'>
                <p>Corb Ltd ensure we continuously attain customer satisfaction, a stable customer base and improved efficiency through fantastic quality management systems. Read more in our quality management policy.</p>
                <%= link_to "Quality Management Policy pdf", asset_path("pdfs/quality.pdf"), target: "_blank" %>
            </div>
        </div>
    </div>

    <div class="container my-3 text-center">
        <div class="single-card">
        <h4 class="card-header blue-heading ">ANTI BRIBERY & CORRUPTION</h4>
            <img src='https://images.unsplash.com/photo-1579227114347-15d08fc37cae?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80' style='width: 100%; height: 190px'>
            <div class='p-3'>
                <p>It is our policy to conduct all of our business in an honest and ethical manner. We take a zero tolerance approach to bribery and corruption and are committed to acting professionally, fairly and with integrity in all our business dealings and relationships. Read more in our anti bribery and corruption policy.</p>
                <%= link_to "Equal Opportunities Policy pdf", asset_path("pdfs/equal_opportunites.pdf"), target: "_blank" %>
            </div>
        </div>
    </div>

    <div class="container my-3 text-center">
        <div class="single-card">
        <h4 class="card-header blue-heading ">ENVIRONMENTAL MANAGEMENT</h4>
            <img src='https://images.unsplash.com/photo-1542601906990-b4d3fb778b09?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1174&q=80' style='width: 100%; height: 190px'>
            <div class='p-3'>
                <p>We are committed to reducing our environmental impact and continually improving our environmental performance as an integral part of our business strategy and operating methods. Read more about how we implement our environmental policy.</p>
                <%= link_to "Enviromental Management Policy pdf", asset_path("pdfs/enviroment.pdf"), target: "_blank" %>
                <br>
                <%= link_to "Enviromental Management Report 2020 pdf", asset_path("pdfs/enviroment_report.pdf"), target: "_blank" %>
            </div>
        </div>
    </div>

    <div class="container my-3 text-center">
        <div class="single-card">
        <h4 class="card-header blue-heading ">MODERN SLAVERY & HUMAN TRAFFICKING</h4>
            <img src='https://images.unsplash.com/photo-1490730141103-6cac27aaab94?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80' style='width: 100%; height: 190px'>
            <div class='p-3'>
                <p>Corb Ltd take matters regarding modern slavery very seriously and act ethically and with integrity in all of our business dealings and ensure it does not occur in any of our supply chains. You can download our latest Policy Statement below.</p>
                <%= link_to "Modern Slavery Statement pdf", asset_path("pdfs/slavery.pdf"), target: "_blank" %>
            </div>
        </div>
    </div>

</div>
